<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>734883112488-srocrvqmrls1s6vjisa51ltqftm5buqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734883112488-srocrvqmrls1s6vjisa51ltqftm5buqo</string>
	<key>API_KEY</key>
	<string>AIzaSyC57lWIA6W1T4-kjlamDzEfG4HvOyP0q_w</string>
	<key>GCM_SENDER_ID</key>
	<string>734883112488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voflic.MessageApp</string>
	<key>PROJECT_ID</key>
	<string>flashchat-4ba22</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-4ba22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734883112488:ios:337b184a21c5ee4e</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-4ba22.firebaseio.com</string>
</dict>
</plist>